.dt-1{
    /* border: 2px solid red; */
    /*height: 20em;*/
    width: 100vw;
    position: relative;
    top: 29px;
    display: flex;
    justify-content: center;
    align-items: center;



}

.dt-2{
    /* border: 2px solid blue; */
    height: 2em;
    width: 10em;
    color: white;
    font-size: 3rem;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    /*position: relative;*/
    position: absolute;

}

img{
    object-fit: cover;
    width: 100vw;

}
.img_blur{
    filter: brightness(55%) blur(3px);
    height: 20em;



}

.container {
    text-align: center;
    padding: 40px;
    /* border: 2px solid red; */
    margin-top: 50px;
  }
  
  .heading_about1 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /* border: 2px solid rgb(47, 0, 255); */
  }

  .lw-1{
    /* border: 2px solid deepskyblue; */
    /* height: 20em; */
    width: 18em;
    /* background-color: #282f3c; */
    margin: 1em;
}

.lw-0{
    display: flex;
    flex-wrap: nowrap;
    gap: 3em;
    /* border: 2px solid red; */
    justify-content: center;
    padding: 0 0;
    color: #dedede;
    /* background-color: #282f3c; */


}

.gallery-container{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    padding:20px;
    position: relative;
    bottom: 140px;

}
.work{
    /* border: 5px solid rgb(90, 205, 98); */
    scale: 0.7;
    position: relative;
    bottom: 140px;
}

.works{
    /* border: 2px solid rgb(12, 16, 17);  */
    display: flex;
    height: 30%;
    margin: 14px;
    /* scale: 0.6; */
  }

.works_img{
    /* border: 7px solid rgb(5, 92, 113);  */
    width: 85%;
    object-fit: cover;


}

.works_text{
    /* border: 7px solid rgb(245, 7, 7);  */
    padding: 40px;
    display: grid;
  align-content: center;
}


@media (max-width: 960px) {
    .lw-0 {flex-wrap: wrap;

    }
}

  
